{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans "Your downloads" %} - {{ block.super }}
{% endblock title %}

{% block section %}
    my-downloads
{% endblock section %}

{% block content %}
    {% if object_list %}
    <h1>{% trans "Your downloads" %}</h1>

    <table class="downloads lfs-default">
        <tr>
            <th>{% trans "Purchase date" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Download count" %}</th>
            <th></th>
        </tr>
        <tr>
            {% for delivery in object_list %}
            {% if delivery.available %}
            <td>{{delivery.order.order.created}}</td>
            <td> {{delivery.order}}</td>
            <td>
                {% blocktrans with count=delivery.downloads_left %}
                    {{ count }} downloads left.
                {% endblocktrans %}
            </td>
            <td>
                <a href="{{delivery.asset.get_absolute_url}}" class="emphazised">Click here to download</a>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    {% else %}
    <h1>{% trans "Sorry, don't have any downloads yet" %}</h1>
    {% endif %}

{% endblock content %}