{% extends "manage/manage_base.html" %}
{% load i18n lfs_tags lfs_manage_tags %}

{% block help_link %}
    user/management/lfs_downloads/overview.html
{% endblock help_link %}
{% block title %}
    {% trans "Manage downloads" %}
{% endblock title %}
{% block section %}manage-downloads{% endblock%}
{% block left-slot-wrapper %}
    {# this is empty #}
{% endblock left-slot-wrapper %}


{% block content %}
    <div id="lfsd-tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                <a href="#data">{% trans 'Products' %}</a>
            </li>
            <li class="ui-state-default ui-corner-top">
                <a href="{% url lfsd_files_list %}">{% trans 'Files' %}</a>
            </li>
            <li class="ui-state-default ui-corner-top">
                <a href="{% url lfsd_upload %}">{% trans 'Upload' %}</a>
            </li>
        </ul>
        <div id="data" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <div id="products-inline">
                <h2>{% trans "Overview" %}</h2>
                <table class="lfs-manage-table">
                    <tr>
                        <th>SKU</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Product type" %}</th>
                        <th>{% trans "Administration" %}</th>
                    </tr>
                    {% for product in object_list %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ product.sku|default:"N/A" }}</td>
                            <td>{{ product.name|default:"N/A" }}</td>
                            <td>{{ product.sub_type|default:"N/A" }}</td>
                            <td class="right-padding management">
                                <a href="#">{% trans "Manage downloads" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}